<div class="container-dataTesting">
  <table class="table table-dataTesting">
    <thead>
      <tr>
        <th scope="col">Number</th>
        <th scope="col">Penghasilan</th>
        <th scope="col">Aset</th>
        <th scope="col">Pengeluaran</th>
        <th scope="col">Status Masyarakat</th>
        <th scope="col">Kelurahan</th>
      </tr>
    </thead>
    <tbody>
      <% penduduk.forEach((item,i )=> { i++ %>
      <tr>
        <th scope="row"><%=i%></th>
        <td><%=item.penghasilan%></td>
        <td><%=item.aset%></td>
        <td><%=item.pengeluaran%></td>
        <td><%=item.statusMasyarakat%></td>
        <td><%=item.kelurahan%></td>
      </tr>
      <%})%>
    </tbody>
  </table>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <% if(currentPage > 1) { %>
      <li class="page-item"><a class="page-link" href="?page=<%= currentPage-1 %>">Previous</a></li>
      <% } %>
      <%for(let i = 0 ; i<Math.min(5,jumlahHalaman);i++){%>
        <% if(currentPage == i+1) {%>
        <li class="page-item"><a class="page-link" style="background-color: #f3ef51;" href="?page=<%= i+1 %>"><%=i+1%></a></li>
        <% } else { %>
        <li class="page-item"><a class="page-link" href="?page=<%= i+1 %>"><%=i+1%></a></li>
        <% } %>
      <% } %>
      <li class="page-item"><a class="page-link" href="?page=<%= currentPage+1 %>">Next</a></li>
    </ul>
  </nav>
</div>
